@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* variable */
:root {
    --Lavender: #E2D1F9;
    --Teal : #317773;
    --white: #fff;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.fa-arrow-up{
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    color: var(--Teal);
    z-index: 999;
}
body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
::-webkit-scrollbar{
    width: 0;
}
/* navbar */
nav{
    background-color: var(--Lavender);
    z-index: 1000;  
    height: 120px;
    overflow: visible;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 40px 0;
}
.logo{
    font-weight: 200;
    font-size: 25px;
}
.menu{
    display: flex;
    gap: 100px;
}
.menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: 400;
    transition: all .3s;
}
.menu a:hover{
    color: var(--Teal);
}
.hamburger{
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.lines{
    transition: all .3s;
    height: 2px;
    width: 30px;
    background-color: var(--black);
    margin: 5px;
}
.hamburger_clicked :nth-child(2){
    display: none;
}
.hamburger_clicked :nth-child(1){
    background-color: var(--white);
    transform: translateY(6px) rotate(45deg);
}
.hamburger_clicked :nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
    background-color: var(--white);
}
/* mainbody */
.mainbody{
    background-color: var(--Teal);
    height: 100%;
    margin-top: 120px;
    color: var(--white);
}
.mainbody img{
    position: relative;
    top: 6px;
    width:364px;
}
.left{
    /* margin: 120px 300px;
    float:left; */
    position: absolute;
    top: 400px;
    left: 30%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.right{
    float: right;
    background-color: var(--Lavender);
    
}
.intro{
    font-size: 70px;
    font-weight: 100;
    
}
.ocupation{
    background-color: #769290;
    display: inline-block;
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 10px;
    
}
.btn{
    display: block;
    background-color: var(--Lavender);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    transition: all .5s;
}
.btn:hover{
    background-color: #F5E9CF;
    scale: 90%;
}


/* about section */
.about{
    height: 100vh;
    background-color: var(--Lavender);
}
.about-heading{
    text-align: center;
    margin-top: 10px;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    
}
.about-row{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 2rem;
}
.about-me::-webkit-scrollbar{
    width: 0px;
}
.row{
    height: 400px;
    width: 400px;
    /* background-color: var(--Teal); */
    margin: 0px 20px;
}
.about-me-heading{
    text-align: end;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    color: var(--white);
    font-weight: 600;
}
.about-me-para{
    padding: 20px;
    font-size: 15px;
    color: #9a8ea8;
    text-align: end;
}

.about-section{
    margin-top: 100px;
}
.about-photo img{
    height: 400px;
}






/* media querry */
@media(max-width:876px){
    .menu{
        z-index: 999;
        position: absolute;
        top: -450px;
        background-color: var(--Lavender);
        width: 425px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        opacity: 1;
        pointer-events: none;
        padding: 20px 0px;
        transition: all .5s;
    }
    .menu_show{
        pointer-events: all;
        top: 0;
    }
    .hamburger{
        opacity: 1;
        pointer-events: all;
    }
    .menu a{
        padding: 20px 70px;
    }
    .menu a:hover{
        color: var(--black);
    }
    .left{
        
        left: 180px;
        z-index: 2;
    }
    
    .about-row{
        flex-direction: column;
        align-items: center;
    }
    .about-heading{
        font-size: 50px;
    }
    .row{
        width: 100%;
    }
    .about{
        margin: 0;
        height: 100%;
    }
    .about-photo img{
        margin-left: 10px;
    }
    
}



/* mobile version */
@media(max-width:425px){
    .menu{
        width: 100%;
        background-color: var(--Teal);
    }
    .menu a{
        color: var(--white);
    }
    .mainbody{
        overflow: hidden;
    }
    .mainbody img{
        right: -100px;
        width: 400px;
    }
    /* nav{
         color: var(--white);
         background-color: var(--Teal);
    } */
    /* .lines{
        background-color: var(--white);
    } */
    .left{
        top: 300px;
        left: 120px;
        overflow-x: hidden;
    }
    .btn{
        background-color: var(--Teal);
        color: var(--white);
    }
    .btn:hover{
        background-color: var(--Teal);
        scale: 100%;
    }
    .row{
        height: 300px;
        width: 250px;
    }
    .about-photo img{
        height: 300px;
    }
    .about-heading{
        font-size: 50px;
    }
}