@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* variable */
:root {
    --Lavender: #E2D1F9;
    --Teal : #317773;
    --white: #fff;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 1000px;
}
/* navbar */
nav{
    background-color: var(--Lavender);
    z-index: 1000;
    position: sticky;
    top: 0;
    height: 120px;
    overflow: visible;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 40px 0;
}
.logo{
    font-weight: 200;
    font-size: 25px;
}
.menu{
    display: flex;
    gap: 100px;
}
.menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: 400;
    transition: all .3s;
}
.menu a:hover{
    color: var(--Teal);
}
.hamburger{
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.lines{
    transition: all .3s;
    height: 2px;
    width: 30px;
    background-color: var(--black);
    margin: 5px;
}
.hamburger_clicked :nth-child(2){
    display: none;
}
.hamburger_clicked :nth-child(1){
    transform: translateY(6px) rotate(45deg);
}
.hamburger_clicked :nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
}
/* mainbody */
.mainbody{
    background-color: var(--Teal);
    height: 400px;
    color: var(--white);
}
.mainbody img{
    position: relative;
    top: 6px;
    width:284px;
}
.left{
    /* margin: 120px 300px;
    float:left; */
    position: absolute;
    top: 320px;
    left: 40%;
    transform: translate(-50%,-50%);
}
.right{
    float: right;
    background-color: var(--Lavender);
    
}
.intro{
    font-size: 70px;
    font-weight: 100;
    
}
.ocupation{
    background-color: #769290;
    display: inline-block;
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 10px;
    
}
.btn{
    display: block;
    background-color: var(--Lavender);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    transition: all .5s;
}
.btn:hover{
    background-color: #F5E9CF;
    scale: 90%;
}
@media(max-width:876px){
    .menu{
        position: absolute;
        top: -450px;
        background-color: var(--Lavender);
        width: 425px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        opacity: 1;
        pointer-events: none;
        padding: 20px 0px;
        transition: all .5s;

    }
    .menu_show{
        pointer-events: all;
        top: 0;
    }
    .hamburger{
        opacity: 1;
        pointer-events: all;
    }
    .menu a{
        padding: 20px 70px;
    }
    .menu a:hover{
        color: var(--black);
    }
    .left{
        left: 180px;
        z-index: 2;
    }
    
}

.hello{
    margin-top: 1000px;
}
@media(max-width:425px){
    .menu{
        width: 100%;
        background-color: var(--Teal);
    }
    .menu a{
        color: var(--white);
    }
    .mainbody img{
        right: -100px;
        width:100%;
    }
    /* nav{
         color: var(--white);
         background-color: var(--Teal);
    } */
    /* .lines{
        background-color: var(--white);
    } */
    .left{
        top: 300px;
        left: 200px;
    }
    .btn{
        background-color: var(--Teal);
        color: var(--white);
    }
    .btn:hover{
        background-color: var(--Teal);
        scale: 100%;
    }
}